extends ../common/layout_main

mixin steps-item(vars)
	each item in vars.item ? vars.item : []
		.steps__item
			.steps__col
				.steps__content
					.steps__subtitle!= item.subtitle
					h2.steps__title!= item.title
					p.steps__descr!= item.descr
					a.steps__link(href='#') read more
						svg.steps__arrow
							use(xlink:href='img/svgSprite.svg#icon__arrow')
			.steps__img
				img(src='img/img__steps_' + item.num + '.jpg',
					srcset='img/img__steps_' + item.num + '_m.jpg 992w, ' + 'img/img__steps_' + item.num + '.jpg'
				)


block content
	section.section
		h1 teyrtjefhs
		.test
			.about
			p dfjdkfjcd\
			p fhjdfh
		.new
			svg.card-ghost__social-icon
				use(xlink:href='img/svgSprite.svg#icon_02')
		img(src='img/3.png')
		+steps-item(newdata.step5)
		//+steps-item(example.step2)
		//+steps-item(example.step3)
		//- ul.blocks
		//- 	each item in example.blocksData
		//- 		li.blocks__item
		//- 			a(href="link")!= item
