# Корневой файл EditorConfig
root = true

# Для всех файлов используем unix-совместимые переносы строк
[*]
end_of_line = lf
insert_final_newline = true

# Используем табы для отступов (Не указываем размер)
[{gulpsile.js, package.json, gulp/**/*.js, src/js/**/*.js, src/pug/**/*.pug, src/styles/**/*.scss, src/data/**/*.json}]
indent_style = tab
indent_size = 4
